.post-card{
    .file-card-head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left {
            align-items: center;
            display: flex;
            gap: 1rem;
        }
    }
    .file-card-content{
        background-color: var(--surface);
        border-radius: var(--radius-s);
        text-align: left;
        padding: 2rem 2rem 2rem 3rem;
        margin: 1rem 0;
    }
}